# PDF files
*.pdf

# Word files
*.docx
*.doc

# Excel files
*.xlsx
*.xls
*.csv
*.pbix
*.pptx


# SVG files
*.svg
.png
.jpg
*.jfif

# Temporary MS Office files
~$*

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc
* C:\Users\Vishnu\Desktop\Python_Evening\phot